.container {
  padding: 0 2rem;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  position: relative;
}

.main {
  padding: 3rem 0 0 0;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-area {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1rem 0;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  padding: .5rem 0;
  align-items: center;
  flex-grow: 1;
  gap:5px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.profile-area {
  overflow-y: auto;
  gap:3px;
  list-style: none;
  min-height: 20rem;
  max-width: 100%;
}

.profile-message {
  padding: 50% 0;
  text-align: center;
  font-size: 2rem;
}

.profile-card {
  justify-content: center;
  min-width: 100%;
  padding: 1rem;
  text-decoration: none;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  gap:3px;
  border-spacing: 1rem .5rem;
}

.profile-datum {
	max-width: 15rem;
}

.tray {
  display:flex;
  flex: 1;
  overflow-x: auto;
  gap:3px;
  list-style: none;
  min-height: 8rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.tray-options {
  display:flex;
  justify-content: center;
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  width: 10rem;
  text-decoration: none;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  box-shadow:
	1px 1px 0px 0px #bbbbbb;
}

.tray-options:hover {
  color: #65c2e0;
  border-color: #65c2e0;
  box-shadow:
	1px 1px 0px 0px #65c2e0;
}

.tray-options:active:hover {
  color: #aaaaaa;
  border-color: #aaaaaa;
  box-shadow:
	inset 1px 1px 0px 0px #aaaaaa;
}

@media (max-width: 1000px) {
  .tray {
	max-width: 50rem;
  }
}

@media (min-width: 1000px) {
  .tray {
	max-width: 75rem;
  }
}
